/* Write your CSS here */
.layout-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #475569;
}
.controller-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  max-width: 550px;
  background-color: #475569;
  margin-bottom: 10px;
}
.checkbox-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
.check-label {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  margin-left: 12px;
}
